#loginBlock {
    padding-top: 185px;
    width: 500px;
}

#loginAndRegistrationStatus {
    height: 0;
    width: 110%;
}

#loginFailedText {
    color: #CC6680;
}

#registeredText {
    color: #4cb050;
    text-align: center;
    margin-left: -1.4em;
}

#loginHeader {
    text-align: center;
    padding-top: 0.4em;
}

#rememberMeBox {
    font-weight: normal;
}

#loginBlockFooter {
    text-align: center;
    margin-top: 10px;
}

#loginInner {
    max-width: 330px;
    padding: 10px 40px;
    margin: 0 auto;
    border-radius: 7px;
    border: 1px solid #ddd;
    color: #5f5f5f;
}

.form-signin .form-control {
    position: relative;
    height: 2.3em;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 10px;
    font-size: 16px;
}

.form-signin .form-control:focus {
    z-index: 2;
}

.form-signin input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}